:root {
  --textColor: #f6f5f7;
  --textOffColor: #7c858d;
  --baseColor: #31a05f;
  --baseDarkColor: #1e2b36;
  --baseLightColor: #283b48;
  --secColor: #000;
}

body {
  background: var(--textColor) !important;
  color: var(--baseColor);
  font-size: 18px;
  direction: rtl;
}

/* Login Card */

.login-pf-page .card-pf {
  border-radius: 15px;
  background: var(--textColor);
  border: 1px solid gray;
  box-shadow: 15px 15px 30px #c4c4c4, -15px -15px 30px #c4c4c4;
}

/* Card Title */

.login-pf-page .login-pf-header {
  margin-bottom: 50px;
}

#kc-page-title {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Login Form */

.login-pf-page .form-group {
  margin-bottom: 30px;
}

.login-pf-page .form-control {
  border: none;
  padding: 22px 30px;
  font-size: 18px;
  background: var(--textColor);
  height: auto;

  border-radius: 10px;
  color: var(--secColor);
  border: 1px solid #c4c4c4;
}

.login-pf-page .form-control::placeholder {
  font-style: normal;
  color: var(--textOffColor);
}

/* Remember Me Toggle */

#kc-form-options .checkbox {
  font-size: 16px;
  color: var(--textOffColor);
  margin-bottom: 0;
}

#kc-form-options label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding-left: 8px;
}

#kc-form-options .toggle {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #c4c4c4;
  margin-left: 10px;
}

#rememberMe {
  display: none;
}

#kc-form-options .dot {
  height: 100%;
  width: 200%;
  background: var(--textOffColor);
  border-radius: 15px;
  transform: translate3d(+75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

#rememberMe:checked ~ .dot {
  transform: translate3d(-25%, 0, 0);
  background: var(--baseColor);
}

#kc-form-options .label-text {
  margin-left: 16px;
}

/* Reset Password Link */

#kc-form-reset-psw a {
  font-size: 16px;
  color: var(--secColor);
  padding-right: 8px;
  display: none;
}

#kc-form-buttons {
  margin-top: 50px;
}

/* Login Button */

#kc-login {
  border: 1px solid rgb(35, 160, 87);
  padding: 22px 30px;
  font-size: 18px;
  color: var(--secColor);

  border-radius: 12px;
  background: var(--baseColor);
  box-shadow: 0 0 0 2px rgba(22,  83, 11, 0.4);
}
#kc-login:hover {
  background: #31a05f80;
}
#kc-login:active:focus {
  background: #31a05f90 !important;
  outline: none;
}

/*  */
.kc-logo-text {
  display: none;
}